.cards{
    background-color: var(--blanc);
    border:solid 1px var(--gris-foncé);
    box-shadow:var(--ombre);
    border-radius:5px;
    width:240px;
    display: flex;
    margin:20px  auto;
}
.nomartiste__centré, a{
    text-decoration: none;
    color:var(--gris-foncé);
    font-family: var(--font-body);
    text-align: center;
}

.alignement__droite{
    text-align: end;
    font-weight:200;
    color:var(--gris-foncé);
    font-family: var(--font-body);
    margin:5px;
}