img{
    max-width: 100%;
    height: auto;
    display:flex;
}

.menu__icon{
    padding:5px;
}

.img__article{
    position:absolute;
    top:-94px;
    margin: auto;
    padding:15px 29%;
}

.img__autre{
    position:absolute;
    top:90px;
    margin: auto;
    padding:15px 26%;
}

.center__img{
    margin:50px auto 0 auto;
}

.center__img--card{
    margin:0 auto;
}

.img__alignement{
    flex:none;
    margin:5px;
}