img{
    max-width: 100%;
    height: auto;
    display:flex;
}

.menu__icon{
    padding:5px;
}

.img__article{
    position:absolute;
    top:-84px;
    margin: auto;
    padding:15px 29%;
}

.img__autre{
    position:absolute;
    top:-84px;
    margin: auto;
    padding:15px 26%;
}

