footer{
    background-color: var(--gris-clair);
    padding:10px;
}

.footer__p{
    font-family: var(--font-body);
    font-weight: 800;
    margin-left:10px;
    color:var(--lightblue);
}

.footericon__container{
    display:flex;
    justify-content:flex-start; 
    margin-top:10px;
    margin-left: 10px;
    align-items: center;

}

.footer__link{
    text-decoration: none;
    color: var(--lightblue);
}