.form__spacing{
    padding:20px 15px;
}

.bulle{
    background-color: var(--blanc);
    border:0;
    border-radius:5px;
    width:80%;
    height:30px;
    margin-top:5px;
}

.form__label{
    font-family:var(--font-body);
}


.send__button{
    background-color: var(--gris-foncé);
    color:var(--blanc);
    font-family: var(--font-body);
    font-weight:200;
    padding:15px;
    margin-left:35%;
    border:0;
    border-radius:5px;
}