.header {
    background-color:var(--gris-foncé);
    position:fixed;
    top:0px;
    left:0;
    width:100%;
    height:85px; /*12 %*/
    display:flex;
    z-index:1;
    justify-content:space-between;
}

.header__logo{
    display:inline-flex;
    vertical-align:middle;
}

.header__logo-site{
    width:70%;
    height:auto;
    margin:5px 15px;
}

.header__logo-en{
    position:relative;
    top:15px;
    margin-right:4em;
    height:50%;
    cursor: pointer;
}

.header__menubtn{
    background-color: var(--gris-foncé);
    border:0;
}