.frise{
    content:"";
    display:block;
    position:absolute;
    background-color: var(--rouge);
    margin:30px 45%;
    width:5px;
    height:200%;
}

.frise::before, .frise::after{
    content:"";
    display:block;
    position:absolute;
    background-color: var(--rouge);
    border-radius: 50%;
    width:25px;
    height:25px;
    align-items: center;
}

.frise::after{
    bottom:0;
    right:-9px;
}

.frise::before{
    top:0;
    left:-9px;
}