.frise{
    content:"";
    display:block;
    position:absolute;
    background-color: var(--rouge);
    margin:0 45%;
    width:5px;
    height:200vh;
}

.frise::before, .frise::after{
    content:"";
    display:block;
    position:absolute;
    background-color: var(--rouge);
    border-radius: 50%;
    margin:0 45%;
    width:25px;
    height:25px;
}