.frise{
    content:"";
    display:block;
    position:absolute;
    background-color: var(--rouge);
    margin:30px 45%;
    width:2px;
    height:200%;
}

.frise::before, .frise::after{
    content:"";
    display:block;
    position:absolute;
    background-color: var(--rouge);
    border-radius: 50%;
    width:15px;
    height:15px;
    align-items: center;
}

.frise::after{
    bottom:0;
    right:-6px;
}

.frise::before{
    top:0;
    left:-6px;
}

.frise--horizontal-droite, .frise--horizontal-gauche{
    content:"";
    display:block;
    position:absolute;
    background-color: var(--rouge);
    border-radius: 50%;
    width:10px;
    height:10px;
}

.frise--horizontal-droite{
    margin:0 50%;
}

.frise--horizontal-gauche{
    margin:5px 35% ;
}