.menu{
    /*display:none;*/
    background-color: var(--bleumenu);
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    justify-content: space-between;
    padding: 70px 20px 150px ; /*au milieu pour centrer - le dernier pour padding du bas et premier padding du haut*/
    flex-direction: column;
}