.menu{
    /*display:none;*/
    background-color: var(--gris-foncé);
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    justify-content: space-between;
    padding: 80px 15px 300px ; /*au milieu pour centrer - le dernier pour padding du bas et premier padding du haut*/
    flex-direction: column;

}

/*mise en forme du menu*/
.menu__list {
    list-style:none;
}

.menu__item{
    line-height:40px;  
}


.menu__link {
    color: var(--blanc);
    text-decoration: none;
    list-style: none;
    font-family: var(--font-body);
    font-size: var(--h1);
    font-weight: 400;
    display: block;
}

/*span du menu pour séparer*/
.menu--separation{
    display:flex;
    justify-content:space-between; 
    margin:2px 2px;
    align-items: center;
}

.menu__barresep{
    content: '';
    background-color: var(--blanc);
    height: 1px;
    width:100%;
}

/*icones menu bas de page*/
.menuicon__container{
    display:flex;
    justify-content:flex-end; 
    margin-top:140px;
    margin-right: 5px;
    align-items: center;
}


/*animation icone du menu*/
.menu__barre{
    content: '';
    background-color: none;
    height: 2px;
    width:100%;
    border-radius:4px;
    /*position:absolute;*/

}

.menubtn {
    width: 2em;
    height: 3em;
    right:20px;
    position: absolute;
    top:1rem;
    cursor: pointer;
}

.menubtn__bar,
.menubtn__bar::before,
.menubtn__bar::after {
    content: '';
    background-color: var(--blanc);
    height: 4px;
    width: 100%;
    border-radius:4px;
    display: block;
    position: absolute;
    left: 0;
    z-index: 2;
    transition: all .5s;
}
  
.menubtn__bar::before {
    top: -10px;
}
  
.menubtn__bar::after {
    top: 10px;
}

/*animation en X pour fermer le menu*/
.menubtn--open .menubtn__bar,
.menubtn--open .menubtn__bar::before,
.menubtn--open .menubtn__bar::after {
    transform: rotate(135deg);
}
.menubtn--open .mennubtn__bar, .menubtn--open .menubtn__bar::before, .menubtn--open .menubtn__bar::after{
    transform:rotate(90deg);
    top:0;
}