.menu{
    /*display:none;*/
    background-color: var(--gris-foncé);
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    justify-content: space-between;
    padding: 70px 20px 150px ; /*au milieu pour centrer - le dernier pour padding du bas et premier padding du haut*/
    flex-direction: column;
}

/*animation icone du menu*/
.menu__barre{
    content: '';
    background-color: none;
    height: 3px;
    width:100%;
    border-radius:4px;
    /*position:absolute;*/
}

.menubtn {
    width: 2em;
    height: 3em;
    right:20px;
    position: absolute;
    top:1rem;
    cursor: pointer;
}

.menubtn__bar,
.menubtn__bar::before,
.menubtn__bar::after {
    content: '';
    background-color: var(--blanc);
    height: 4px;
    width: 100%;
    border-radius:4px;
    display: block;
    position: absolute;
    left: 0;
    z-index: 2;
    transition: all .5s;
}
  
.menubtn__bar::before {
    top: -10px;
}
  
.menubtn__bar::after {
    top: 10px;
}

/*animation en X pour fermer le menu*/
.menubtn--open .menubtn__bar,
.menubtn--open .menubtn__bar::before,
.menubtn--open .menubtn__bar::after {
    transform: rotate(135deg);
}
.menubtn--open .mennubtn__bar, .menubtn--open .menubtn__bar::before, .menubtn--open .menubtn__bar::after{
    transform:rotate(90deg);
    top:0;
}